In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [23]:
df =  spark.read.json('people.json')

In [24]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.columns

['age', 'name']

In [8]:
df.describe().show()

IllegalArgumentException: u'Unsupported class file major version 55'

In [10]:
 from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [11]:
data_schema = [StructField('age',IntegerType(), True),
              StructField('name',IntegerType(), True)]

In [12]:
final_struc = StructType(fields = data_schema)

In [21]:
df = spark.read.json('people.json',schema =  final_struc)

In [14]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: integer (nullable = true)

In [16]:
type(df['age'])

pyspark.sql.column.Column

In [17]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [18]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [25]:
df.head(2)[0]

Row(age=None, name=u'Michael')

In [26]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [28]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [29]:
df.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [30]:
df.createOrReplaceTempView('people')

In [31]:
results = spark.sql("select * from people")

In [32]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [34]:
new_results = spark.sql("select * from people where age =30 ")

In [35]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+